langchain==0.1.17
langchain-community==0.0.34
langchain-core==0.1.46
langchain-ollama==0.1.0
langchain-huggingface==0.0.5
ollama==0.1.7
sentence-transformers==2.2.2
faiss-cpu==1.7.4
pypdf==3.16.4
gradio==4.26.0
tqdm==4.66.2
python-dotenv==1.0.1
